@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://rsms.me/inter/inter.css');

html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif; 
}

.title-create{
  padding-top: 3em;
  padding-bottom: 1em;
  font-size: 60px;
}
.margin-button{
  margin-top: 2em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.home-logo {
  width: 50%;
  object-fit: contain;
  margin-bottom: 20px;
}

.users-box {
  width: 452px;
  height: 200px;
}

.card .specimen{
  height: 350px;
  width: 300px;
  object-fit: cover;
}
.card .author {
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
}
.card .details .name {
  text-overflow: ellipsis;
  width: 200px;
  height: 30px;
  overflow: hidden;
}
.center{
  padding-top: 3em;;
  align-items: center;
}

.header-font{
  text-transform: uppercase;
}

.logo{
  width: 30%;
}

.title {
  font-size: 1.6em;
}

.description{
  font-size: 1.2em;
}
